// Place all the styles related to the user_recodrs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: rgba(5, 112, 41, 0.986);
}

div.contents.row {
  list-style: none;
  margin: 30px auto 30px ;
  padding: 30px;
  width: 100vw;
  font-size: 2vh;
  color: rgb(246, 247, 241);
  box-shadow: 5px 10px 20px rgba(41, 41, 41, 0.2);
  box-sizing: border-box;
  text-align: center;
}

.calendar {
  width: 100vw;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.item {
  margin: 0.5vw;
  border: medium solid rgb(0, 0, 0);
  width: 60vw;
  height: auto;
  background-color: rgb(246, 253, 255);
}

.date {
  height: 5vh;
  display: flex;
  font-size: 2vh;
  align-items: center;
  justify-content: center;
  border-bottom: medium solid rgb(0, 0, 0);
}

.content {
  min-height: 25vh;
  padding: 5px;
  white-space: nowrap;
  overflow: scroll;
  white-space: nowrap;
}

.food-data {
  margin: 1vh 0;
  font-size: 2vw;
}

.form {
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
}

.lavel {
  font-size: 2vh;
  color: rgb(255, 255, 255);
}

.text-input {
  height: 4vh;
  width: 15vw;
  margin: 0 2vw;
}

.date-select {
  justify-content: center;
  align-items: center;
  height: 4vh;
  width: 13vw;
  margin: 0 2vw;
}

.user {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  font-size: 3vw;
  color: rgb(255, 255, 255);;
}

.posts {
  text-decoration: none;
  font-size: 2vw;
  color: rgb(10, 1, 1);
}

.user-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7vh;
  font-size: 30px;
  color: rgb(245, 237, 237);
}